@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
       url('../../../public/fonts/Raleway-Thin.ttf') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
       url('../../../public/fonts/Raleway-ExtraLight.ttf') format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
       url('../../../public/fonts/Raleway-Light.ttf') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
       url('../../../public/fonts/Raleway-Regular.ttf') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
       url('../../../public/fonts/Raleway-Medium.ttf') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
       url('../../../public/fonts/Raleway-SemiBold.ttf') format('woff2');
  font-weight: 600;
  font-display: swap;
}
