# Дополнительные атрибуты для Git при работе с файлами репозитория.
#
# *         - применяется для всех файлов в данном репозитории
# text=auto - Git автоматически определяет, является ли файл текстовым
#             и, если файл текстовый, конвертирует окончания строк в LF
#             при добавлении файла в индекс.
# eol=lf    - Git использует стиль перевода строк LF во всех автоматических
#             конвертациях файлов при выполнение "checkout" операций над
#             рабочим деревом (working tree).
#
# Подробнее на https://www.git-scm.com/docs/gitattributes
* text=auto eol=lf
