.dark {
  --bg-normal: #171d24;
  --bg-normal-hovered: #212831;
  --bg-normal-pressed: #28313c;
  --bg-normal-disabled: rgba(216, 232, 248, .08);
  --bg-subtle: #0c0f12;
  --bg-subtle-hovered: #080b0d;
  --bg-subtle-pressed: #040607;
  --bg-subtle-disabled: rgba(216, 232, 248, .08);
  --bg-highlight: #363c41;
  --bg-highlight-hovered: #3d4249;
  --bg-highlight-pressed: #424950;
  --bg-highlight-disabled: rgba(216, 232, 248, .08);
  --bg-strong: #fff;
  --bg-strong-hovered: #f6f8f9;
  --bg-strong-pressed: #e3e7eb;
  --bg-strong-disabled: rgba(216, 232, 248, .08);
  --bg-accent: #0c0f12;
  --bg-accent-hovered: #080b0d;
  --bg-accent-pressed: #040607;
  --bg-accent-disabled: rgba(216, 232, 248, .08);
  --bg-accent-strong: #fff;
  --bg-accent-strong-hovered: #f6f8f9;
  --bg-accent-strong-pressed: #e3e7eb;
  --bg-accent-strong-disabled: rgba(216, 232, 248, .08);
  --bg-success: rgba(12, 211, 104, .2);
  --bg-success-hovered: rgba(12, 211, 104, .25);
  --bg-success-pressed: rgba(12, 211, 104, .3);
  --bg-success-disabled: rgba(216, 232, 248, .08);
  --bg-success-strong: #0cd368;
  --bg-success-strong-hovered: #13e072;
  --bg-success-strong-pressed: #25e980;
  --bg-success-strong-disabled: rgba(216, 232, 248, .08);
  --bg-warning: rgba(245, 158, 28, .2);
  --bg-warning-hovered: rgba(245, 158, 28, .25);
  --bg-warning-pressed: rgba(245, 158, 28, .3);
  --bg-warning-disabled: rgba(216, 232, 248, .08);
  --bg-warning-strong: #f5b81c;
  --bg-warning-strong-hovered: #f7c440;
  --bg-warning-strong-pressed: #f7cb59;
  --bg-warning-strong-disabled: rgba(216, 232, 248, .08);
  --bg-danger: rgba(255, 76, 53, .2);
  --bg-danger-hovered: rgba(255, 76, 53, .25);
  --bg-danger-pressed: rgba(255, 76, 53, .3);
  --bg-danger-disabled: rgba(216, 232, 248, .08);
  --bg-danger-strong: ff4e37;
  --bg-danger-strong-hovered: #ff5c47;
  --bg-danger-strong-pressed: #ff6a57;
  --bg-danger-strong-disabled: rgba(216, 232, 248, .08);
  --bg-promo: rgba(195, 83, 247, .2);
  --bg-promo-hovered: rgba(195, 83, 247, .25);
  --bg-promo-pressed: rgba(195, 83, 247, .3);
  --bg-promo-disabled: rgba(216, 232, 248, .08);
  --bg-promo-strong: #c353f7;
  --bg-promo-strong-hovered: #c768f3;
  --bg-promo-strong-pressed: #ce72f8;
  --bg-promo-strong-disabled: rgba(216, 232, 248, .08);
  --bg-overlay: rgba(0, 0, 0, .7);
  --bg-elevated: #2f3438;

  --fg-normal: #fff;
  --fg-normal-hovered: #f6f8f9;
  --fg-normal-pressed: #e3e7eb;
  --fg-normal-disabled: rgba(216, 232, 248, .3);
  --fg-subtle: rgba(223, 232, 241, .6);
  --fg-subtle-hovered: rgba(223, 232, 241, .7);
  --fg-subtle-pressed: rgba(223, 232, 241, .8);
  --fg-subtle-disabled: rgba(216, 232, 248, .2);
  --fg-placeholder: rgba(223, 232, 241, .4);
  --fg-placeholder-hovered: rgba(223, 232, 241, .4);
  --fg-placeholder-pressed: rgba(223, 232, 241, .4);
  --fg-placeholder-disabled: rgba(216, 232, 248, .15);
  --fg-on-strong: #0f131a;
  --fg-on-strong-hovered: #0f131a;
  --fg-on-strong-pressed: #0f131a;
  --fg-on-strong-disabled: rgba(216, 232, 248, .3);
  --fg-on-strong-subtle: rgba(15, 19, 26, .7);
  --fg-on-strong-subtle-hovered: rgba(15, 19, 26, .7);
  --fg-on-strong-subtle-pressed: rgba(15, 19, 26, .7);
  --fg-on-strong-subtle-disabled: rgba(216, 232, 248, .2);
  --fg-accent: #fff;
  --fg-accent-hovered: #f6f8f9;
  --fg-accent-pressed: #e3e7eb;
  --fg-accent-disabled: rgba(216, 232, 248, .3);
  --fg-success: #17db72;
  --fg-success-hovered: #13e072;
  --fg-success-pressed: #25e980;
  --fg-success-disabled: rgba(216, 232, 248, .3);
  --fg-warning: #f5b81c;
  --fg-warning-hovered: #f7c440;
  --fg-warning-pressed: #f7cb59;
  --fg-warning-disabled: rgba(216, 232, 248, .3);
  --fg-danger: #ff634e;
  --fg-danger-hovered: #ff5c47;
  --fg-danger-pressed: #ff6a57;
  --fg-danger-disabled: rgba(216, 232, 248, .3);
  --fg-promo: #cf7bf6;
  --fg-promo-hovered: #c768f3;
  --fg-promo-pressed: #ce72f8;
  --fg-promo-disabled: rgba(216, 232, 248, .3);

  --border-normal: rgba(223, 232, 241, .3);
  --border-normal-hovered: rgba(223, 232, 241, .35);
  --border-normal-pressed: rgba(223, 232, 241, .45);
  --border-normal-disabled: rgba(216, 232, 248, .15);
  --border-subtle: rgba(223, 232, 241, .15);
  --border-subtle-hovered: rgba(223, 232, 241, .2);
  --border-subtle-pressed: rgba(223, 232, 241, .3);
  --border-subtle-disabled: rgba(216, 232, 248, .1);
  --border-divider: rgba(216, 232, 248, .3);
  --border-divider-hovered: rgba(223, 232, 241, .35);
  --border-divider-pressed: rgba(223, 232, 241, .45);
  --border-divider-disabled: rgba(216, 232, 248, .15);
  --border-strong: #fff;
  --border-strong-hovered: #f6f8f9;
  --border-strong-pressed: #e3e7eb;
  --border-strong-disabled: rgba(216, 232, 248, .15);
  --border-accent: #fff;
  --border-accent-hovered: #f6f8f9;
  --border-accent-pressed: #e3e7eb;
  --border-accent-disabled: rgba(216, 232, 248, .15);
  --border-success: #0cd368;
  --border-success-hovered: #13e072;
  --border-success-pressed: #25e980;
  --border-success-disabled: rgba(216, 232, 248, .15);
  --border-warning: #f5b81c;
  --border-warning-hovered: #f7c440;
  --border-warning-pressed: #f7cb59;
  --border-warning-disabled: rgba(216, 232, 248, .15);
  --border-danger: #ff4e37;
  --border-danger-hovered: #ff5c47;
  --border-danger-pressed: #ff6a57;
  --border-danger-disabled: rgba(216, 232, 248, .15);
  --border-promo: #c353f7;
  --border-promo-hovered: #c768f3;
  --border-promo-pressed: #ce72f8;
  --border-promo-disabled: rgba(216, 232, 248, .15);
  --border-focus: #fff;
}
