.light {
  --bg-normal: #fff;
  --bg-normal-hovered: #e3e7eb;
  --bg-normal-pressed: #e3e7eb;
  --bg-normal-disabled: rgba(255, 255, 255, .4);
  --bg-subtle: #f6f7f9;
  --bg-subtle-hovered: #e3e7eb;
  --bg-subtle-pressed: #c2c9d1;
  --bg-subtle-disabled: rgba(227, 231, 235, .4);
  --bg-highlight: #e3e7eb;
  --bg-highlight-hovered: #c2c9d1;
  --bg-highlight-pressed: #9da7b1;
  --bg-highlight-disabled: rgba(227, 231, 235, .4);
  --bg-strong: #0f131a;
  --bg-strong-hovered: #000;
  --bg-strong-pressed: #000;
  --bg-strong-disabled: rgba(15, 19, 26, .4);
  --bg-accent: #eef0f2;
  --bg-accent-hovered: #e3e7eb;
  --bg-accent-pressed: #e3e7eb;
  --bg-accent-disabled: rgba(238, 240, 242, .4);
  --bg-accent-strong: #0f131a;
  --bg-accent-strong-hovered: #000;
  --bg-accent-strong-pressed: #000;
  --bg-accent-strong-disabled: rgba(15, 19, 26, .4);
  --bg-success: #e9fbe9;
  --bg-success-hovered: #d7f8d7;
  --bg-success-pressed: #c1e8c1;
  --bg-success-disabled: rgba(233, 251, 233, .4);
  --bg-success-strong: #018850;
  --bg-success-strong-hovered: #007a4e;
  --bg-success-strong-pressed: #016c26;
  --bg-success-strong-disabled: rgba(1, 136, 80, .4);
  --bg-warning: #fdf4db;
  --bg-warning-hovered: #faeec6;
  --bg-warning-pressed: #f5dea3;
  --bg-warning-disabled: rgba(253, 244, 219, .4);
  --bg-warning-strong: #e87c00;
  --bg-warning-strong-hovered: #cc6d00;
  --bg-warning-strong-pressed: #b25c00;
  --bg-warning-strong-disabled: rgba(232, 124, 0, .4);
  --bg-danger: #fbe9e7;
  --bg-danger-hovered: #fcddd9;
  --bg-danger-pressed: #f7ccc7;
  --bg-danger-disabled: rgba(251, 233, 231, .4);
  --bg-danger-strong: #de331d;
  --bg-danger-strong-hovered: #bd2c19;
  --bg-danger-strong-pressed: #9e2415;
  --bg-danger-strong-disabled: rgba(222, 51, 29, .4);
  --bg-promo: #f5edfe;
  --bg-promo-hovered: #ede0fc;
  --bg-promo-pressed: #e0c9f8;
  --bg-promo-disabled: rgba(245, 237, 254, .4);
  --bg-promo-strong: #9e33e0;
  --bg-promo-strong-hovered: #8a1ecc;
  --bg-promo-strong-pressed: #7219a9;
  --bg-promo-strong-disabled: rgba(158, 51, 224, .4);
  --bg-overlay: rgba(0, 0, 0, .4);
  --bg-elevated: #fff;

  --fg-normal: #0f131a;
  --fg-normal-hovered: #0f131a;
  --fg-normal-pressed: #0f131a;
  --fg-normal-disabled: rgba(15, 19, 26, .4);
  --fg-subtle: #6a737c;
  --fg-subtle-hovered: #33373e;
  --fg-subtle-pressed: #0f131a;
  --fg-subtle-disabled: rgba(106, 115, 124, .4);
  --fg-placeholder: #9da7b1;
  --fg-placeholder-hovered: #9da7b1;
  --fg-placeholder-pressed: #9da7b1;
  --fg-placeholder-disabled: rgba(157, 167, 177, .4);
  --fg-on-strong: #fff;
  --fg-on-strong-hovered: #fff;
  --fg-on-strong-pressed: #fff;
  --fg-on-strong-disabled: rgba(255, 255, 255, .4);
  --fg-on-strong-subtle: rgba(255, 255, 255, .7);
  --fg-on-strong-subtle-hovered: rgba(255, 255, 255, .8);
  --fg-on-strong-subtle-pressed: rgba(255, 255, 255, .9);
  --fg-on-strong-subtle-disabled: rgba(255, 255, 255, .3);
  --fg-accent: #0f131a;
  --fg-accent-hovered: #000;
  --fg-accent-pressed: #000;
  --fg-accent-disabled: rgba(15, 19, 26, .4);
  --fg-success: #018850;
  --fg-success-hovered: #007a4e;
  --fg-success-pressed: #016c26;
  --fg-success-disabled: rgba(1, 136, 80, .4);
  --fg-warning: #e27900;
  --fg-warning-hovered: #cc6d00;
  --fg-warning-pressed: #b25c00;
  --fg-warning-disabled: rgba(226, 121, 0, .4);
  --fg-danger: #de331d;
  --fg-danger-hovered: #bd2c19;
  --fg-danger-pressed: #9e2415;
  --fg-danger-disabled: rgba(222, 51, 29, .4);
  --fg-promo: #9e33e0;
  --fg-promo-hovered: #8a1ecc;
  --fg-promo-pressed: #7219a9;
  --fg-promo-disabled: rgba(158, 51, 224, .4);

  --border-normal: #c2c9d1;
  --border-normal-hovered: #9da7b1;
  --border-normal-pressed: #6a737c;
  --border-normal-disabled: rgba(194, 201, 209, .4);
  --border-subtle: #d6dbe1;
  --border-subtle-hovered: #c2c9d1;
  --border-subtle-pressed: #9da7b1;
  --border-subtle-disabled: rgba(230, 230, 230, .4);
  --border-divider: #e3e7eb;
  --border-divider-hovered: #9da7b1;
  --border-divider-pressed: #6a737c;
  --border-divider-disabled: rgba(194, 201, 209, .4);
  --border-strong: #0f131a;
  --border-strong-hovered: #000;
  --border-strong-pressed: #000;
  --border-strong-disabled: rgba(15, 19, 26, .4);
  --border-accent: #0f131a;
  --border-accent-hovered: #000;
  --border-accent-pressed: #000;
  --border-accent-disabled: rgba(15, 19, 26, .4);
  --border-success: #018850;
  --border-success-hovered: #007a4e;
  --border-success-pressed: #016c26;
  --border-success-disabled: rgba(1, 136, 80, .4);
  --border-warning: #e87c00;
  --border-warning-hovered: #cc6d00;
  --border-warning-pressed: #b25c00;
  --border-warning-disabled: rgba(226, 121, 0, .4);
  --border-danger: #de331d;
  --border-danger-hovered: #bd2c19;
  --border-danger-pressed: #9e2415;
  --border-danger-disabled: rgba(222, 51, 29, .4);
  --border-promo: #9e33e0;
  --border-promo-hovered: #8a1ecc;
  --border-promo-pressed: #7219a9;
  --border-promo-disabled: rgba(158, 51, 224, .4);
  --border-focus: #0f131a;
}
